<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.sil.ukelele.keyboardlayout.colemak-se</string>
	<key>CFBundleName</key>
	<string>colemak-se</string>
	<key>CFBundleVersion</key>
	<string>0.5</string>
	<key>KLInfo_Colemak – SE</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.colemak-se.colemak–se</string>
		<key>TISIntendedLanguage</key>
		<string>sv-SE</string>
	</dict>
</dict>
</plist>
